<publishData>
	<publishProfile profileName="BinanceStatisticApi - Web Deploy" publishMethod="MSDeploy" publishUrl="binancestatisticapi.scm.azurewebsites.net:443" msdeploySite="BinanceStatisticApi" userName="$BinanceStatisticApi" userPWD="Z3BozS4op1eemp4M5D8vAh6l474pukKttvin6MGWzv7WQGwQ6SRL5KReCovh" destinationAppUrl="http://binancestatisticapi.azurewebsites.net" SQLServerDBConnectionString="Data Source=tcp:dbbinancestatistic.database.windows.net,1433;Initial Catalog=dbBinanceStatistic;User Id=BinanceAdmin@dbbinancestatistic;Password=Real2010" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100">
		<databases>
			<add name="DefaultConnection" connectionString="Data Source=tcp:dbbinancestatistic.database.windows.net,1433;Initial Catalog=dbBinanceStatistic;User Id=BinanceAdmin@dbbinancestatistic;Password=Real2010" providerName="System.Data.SqlClient" type="Sql" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100" />
		</databases>
	</publishProfile>
	<publishProfile profileName="BinanceStatisticApi - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-dm1-253.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="BinanceStatisticApi\$BinanceStatisticApi" userPWD="Z3BozS4op1eemp4M5D8vAh6l474pukKttvin6MGWzv7WQGwQ6SRL5KReCovh" destinationAppUrl="http://binancestatisticapi.azurewebsites.net" SQLServerDBConnectionString="Data Source=tcp:dbbinancestatistic.database.windows.net,1433;Initial Catalog=dbBinanceStatistic;User Id=BinanceAdmin@dbbinancestatistic;Password=Real2010" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100">
		<databases>
			<add name="DefaultConnection" connectionString="Data Source=tcp:dbbinancestatistic.database.windows.net,1433;Initial Catalog=dbBinanceStatistic;User Id=BinanceAdmin@dbbinancestatistic;Password=Real2010" providerName="System.Data.SqlClient" type="Sql" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100" />
		</databases>
	</publishProfile>
	<publishProfile profileName="BinanceStatisticApi - Zip Deploy" publishMethod="ZipDeploy" publishUrl="binancestatisticapi.scm.azurewebsites.net:443" userName="$BinanceStatisticApi" userPWD="Z3BozS4op1eemp4M5D8vAh6l474pukKttvin6MGWzv7WQGwQ6SRL5KReCovh" destinationAppUrl="http://binancestatisticapi.azurewebsites.net" SQLServerDBConnectionString="Data Source=tcp:dbbinancestatistic.database.windows.net,1433;Initial Catalog=dbBinanceStatistic;User Id=BinanceAdmin@dbbinancestatistic;Password=Real2010" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100">
		<databases>
			<add name="DefaultConnection" connectionString="Data Source=tcp:dbbinancestatistic.database.windows.net,1433;Initial Catalog=dbBinanceStatistic;User Id=BinanceAdmin@dbbinancestatistic;Password=Real2010" providerName="System.Data.SqlClient" type="Sql" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100" />
		</databases>
	</publishProfile>
</publishData>